{% extends "layout.html" %}

{% block body %}

<div class="container">
    <div class="d-flex flex-row justify-content-center">
      <div class="card text-bg-dark mx-auto">
        <img src="{{ url_for('static', filename='img/prueba.jpg') }}" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title text-dark">Administrador</h5>
          <p class="card-text text-dark">This is a wider card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.</p>
          <a href="{{url_for('login.login')}}" class="btn btn-primary">Ingresar</a>

        </div>
      </div>
      <div class="card text-bg-dark mx-auto">
        <img src="{{ url_for('static', filename='img/prueba.jpg') }}" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title text-dark">Personal</h5>
          <p class="card-text text-dark">This is a wider card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.</p>
          <a href="{{url_for('login.login')}}" class="btn btn-primary">Ingresar</a>

        </div>
      </div>
    </div>

  </div>

{% endblock %}